In [1]:
#!pip install gspread

In [2]:
import pandas as pd
import gspread

In [3]:
gc = gspread.service_account(filename = 'D:\Learning\AiQuest\learning-data-science-aiquest-5b894f06ea18.json')

In [4]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1G_YdEwHNa-j1eE2d0ZrP2zyLx8IFQWczP7Wd2me2LWw/edit?usp=sharing')

In [5]:
sheet

In [6]:
ws1 = sheet.worksheet('Info1')

In [7]:
df1 = pd.DataFrame(ws1.get_all_records())

In [8]:
df1

     name1  age1
0  Motahar    52
1   Shanta    42
2    Wasie    13
3   Shayan    11

In [9]:
ws2 = sheet.worksheet('Info2')

In [10]:
df2 = pd.DataFrame(ws2.get_all_records())

In [11]:
df2

     name2  age2
0  Motahar    52
1   Shanta    42
2    Wasie    13
3   Shayan    11